<!-- Contact-->
        <section class="page-section" id="{{section.content.id}}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="{{section.content.heading_class}}">{{section.content.heading_text}}</h2>
                        <hr class="divider my-4" />
                        <p class="">{{section.content.sub_heading_text}}</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="{{section.content.tel_i_class}}"></i>
                        <div>{{section.content.tel}}</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="{{section.content.email_i_class}}"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="{{section.content.email_href}}">{{section.content.email}}</a>
                    </div>
                </div>
            </div>
        </section>