{%load static%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="{{section.content.heading_class}}">{{section.content.heading_text}}</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="{{section.content.sub_heading_class}}">{{section.content.sub_heading_text}}</p>
                        <a class="{{section.content.btn_class}}" href="{{section.content.btn_href}}">{{section.content.btn_text}}</a>
                    </div>
                </div>
            </div>
        </header>